# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.egg-info/
dist/
build/

# Data outputs
/data


# Logs and temp
*.log
*.tmp
*.swp

# Env files
.env*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
